<DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <h1>Add A Puppy</h1>
      <form method="post" action="/display_puppy">
        <input type="text" name="">

        
        <input type="submit" id="Submit">
      </form>
    </body>
  </html>
  